<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
<meta charset="UTF-8">
<title>Angular練習</title>
<script src="http://code.angularjs.org/angular-1.0.0rc4.min.js"></script>
<script src="http://code.angularjs.org/angular-resource-1.0.0rc4.min.js"></script>
<script src="myscript.js"></script>
</head>
<body>
<h1>Search</h1>
<div ng-controller="mainCtrl">
<form ng-submit = "doSearch()" name="myForm">
<input type="text" ng-model="query" required>
<input type="submit" value="search" ng-disabled="myForm.$invalid">
</form>
<h2>Results</h2>
<ul ng-show="YTresults.length" style="list-style:none;padding:0">
	<li ng-repeat="YTresult in YTresults">
		<img ng-src="{{YTresult.snippet.thumbnails.medium.url}}">
		{{result.snippet.title}}
	</li>
</ul>
<ul ng-show="TWresults.length" style="list-style:none;padding:0">
	<li ng-repeat="TWresult in TWresults">
		<img ng-src="{{TWresult.snippet.thumbnails.medium.url}}">
		{{result.snippet.title}}
	</li>
</ul>
<p ng-hide="results.length">↑上から検索してください。<p>
</div>
</body>
</html>
